[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pytest = "*"
requests = "*"
oc = "*"
conduitqe = {editable = true,path = "."}

[dev-packages]
flake8 = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
